* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  overflow: hidden;
}
#map {
  height: 90vh;
  width: 100%;
}

.info {
  background: #292828;
  color: #f4f4f4;
  padding: 0 0.5rem;
  border-radius: 50px;
}

i:hover {
  cursor: pointer;
}

.hide {
  display: none;
}
.show {
  display: inline;
}

#header {
  background: #333;
  color: #f4f4f4;
  padding: 2rem 0;
  text-align: center;
  position: sticky;
  top: 0px;
}

#dest {
  background-color: #555;
  color: #f4f4f4;
  border-radius: 10px;
  margin: auto;
  width: 300px;
  padding: 10px;
  transition: all 0.5s ease-in;
}

#destination p {
  border-bottom: 1px white solid;
  padding: 1rem;
  text-align: justify;
}

#destination p:last-child {
  margin-bottom: 3rem;
  border-bottom: none;
}

#close {
  color: rgba(161, 161, 161, 0.7);
  position: relative;
  left: 250px;
}
#close:hover {
  color: rgba(240, 92, 92, 0.7);
}

@media (max-width: 480px) {
  #header {
    margin: 0;
    padding: 0.5rem;
    font-size: 0.7em;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    align-items: center;
    background: #292828;
    color: #f4f4f4;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
  }
}
